## Aggregate Functions

* COUNT: Counts the number of rows or the number of non-NULL values in a column.
* SUM: Adds up the values in numeric or money data.
* AVG: Calculates the average in numeric or money data.
* MIN: Finds the lowest value in the set of values. This can be used on string data as well as numeric, money, or date data.
* MAX: Finds the highest value in the set of values. This can be used on string data as well as numeric, money, or date data.

- AVG and SUM only operate on numeric and money data.
- MIN, MAx, COUNT will work on numeric,money, string columns.

In [1]:
USE AdventureWorks2012

SELECT COUNT(*) as CountOfRows,
    MAX(TotalDue) as MaxTotal,
    MIN(TotalDue) as MinTotal,
    SUM(TotalDue) as SumOfTotal,
    AVG(TotalDue) as AvgTotal
FROM Sales.SalesOrderHeader;

CountOfRows,MaxTotal,MinTotal,SumOfTotal,AvgTotal
31465,187487.825,1.5183,123216786.1159,3915.9951

In [3]:
use AdventureWorks2012
SELECT MIN(Name) as MinName,
Max(Name) as MaxName, MIN(SellStartDate) as MinSallStartDate
from Production.Product

MinName,MaxName,MinSallStartDate
Adjustable Race,"Women's Tights, S",2008-04-30 00:00:00.000

In [4]:
use AdventureWorks2012

select count(*) as CountOfRows,
    count(color) as CountOfColor,
    count(DISTINCT Color) as CountOfDistinctColor
from Production.Product

countOfRows,countofColor,CountOfDistinctColor
504,256,9

In [3]:
USE AdventureWorks2012

SELECT Count(*) as CountOfRows,
    count(color) as CountOfColor, 
    count(DISTINCT Color) as CountOFDistinctColor
from Production.Product

CountOfRows,CountOfColor,CountOFDistinctColor
504,256,9

### Group BY Clause

In [11]:
USE AdventureWorks2012

SELECT TOP(10) CustomerID, 
    SUM(TotalDue) as TotalPerCustomer
From Sales.SalesOrderHeader
group by CustomerID

CustomerID,TotalPerCustomer
11000,9115.1341
11001,7054.1875
11002,8966.0143
11003,8993.9155
11004,9056.5911
11005,8974.0698
11006,8971.5283
11007,9073.1551
11008,8957.4726
11009,8940.9197

In [12]:
USE AdventureWorks2012

SELECT TOP(10) TerritoryID,
    AVG(TotalDue) as AveragePerTerritory
from sales.SalesOrderHeader
GROUP BY TerritoryID

TerritoryID,AveragePerTerritory
9,1726.4907
3,23151.4266
6,4523.956
7,3038.8283
1,3931.576
10,2663.5752
4,4362.242
5,18280.0398
2,22216.5046
8,2089.142

In [16]:
USE AdventureWorks2012

SELECT TOP(10) COUNT(*) as CountOfOrders,
    YEAR(OrderDate) as OrderYear
FROM sales.SalesOrderHeader
GROUP by OrderDate

CountOfOrders,OrderYear
8,2011
4,2011
5,2012
6,2012
12,2013
84,2014
5,2011
7,2011
12,2012
3,2012

In [18]:
USE AdventureWorks2012

SELECT 
    COUNT(*) as CountOfOrders,
    YEAR(OrderDate) as OrderYear
FROM sales.SalesOrderHeader
GROUP by YEAR(OrderDate)

CountOfOrders,OrderYear
14182,2013
11761,2014
1607,2011
3915,2012

In [24]:
USE AdventureWorks2012

SELECT COUNT(*) as CountOfProduct, ProductLine
FROM Production.Product
GROUP BY ProductLine

CountOfProduct,ProductLine
226,NULL
91,M
100,R
35,S
52,T

In [27]:
use AdventureWorks2012

SELECT TOP(50) COUNT(*) as CountOfDetailLines, SalesOrderID
    from sales.SalesOrderDetail
    group by SalesOrderID
HAVING count(*) > 3;

CountOfDetailLines,SalesOrderID
12,43659
15,43661
22,43662
8,43664
10,43665
6,43666
4,43667
29,43668
4,43670
11,43671
11,43673
9,43675
5,43676
12,43677
19,43678
15,43680
21,43681
5,43682
13,43683
6,43684
4,43685
11,43688
21,43689
4,43690
28,43692
10,43693
11,43694
8,43695
10,43843
4,43844
10,43845
4,43846
5,43848
11,43849
11,43850
12,43851
6,43853
13,43855
14,43857
13,43858
4,43859
12,43860
27,43861
9,43862
4,43863
9,43864
14,43865
18,43867
10,43869
5,43870