## Aggregate Functions

* COUNT: Counts the number of rows or the number of non-NULL values in a column.
* SUM: Adds up the values in numeric or money data.
* AVG: Calculates the average in numeric or money data.
* MIN: Finds the lowest value in the set of values. This can be used on string data as well as numeric, money, or date data.
* MAX: Finds the highest value in the set of values. This can be used on string data as well as numeric, money, or date data.

- AVG and SUM only operate on numeric and money data.
- MIN, MAx, COUNT will work on numeric,money, string columns.

In [1]:
USE AdventureWorks2012

SELECT COUNT(*) as CountOfRows,
    MAX(TotalDue) as MaxTotal,
    MIN(TotalDue) as MinTotal,
    SUM(TotalDue) as SumOfTotal,
    AVG(TotalDue) as AvgTotal
FROM Sales.SalesOrderHeader;

CountOfRows,MaxTotal,MinTotal,SumOfTotal,AvgTotal
31465,187487.825,1.5183,123216786.1159,3915.9951

In [4]:
use AdventureWorks2012

SELECT MIN(Name) as MinName,
Max(Name) as MaxName, MIN(SellStartDate) as MinSallStartDate
from Production.Product

MinName,MaxName,MinSallStartDate
Adjustable Race,"Women's Tights, S",2008-04-30 00:00:00.000

In [5]:
use AdventureWorks2012

select count(*) as CountOfRows,
    count(color) as CountOfColor,
    count(DISTINCT Color) as CountOfDistinctColor
from Production.Product

CountOfRows,CountOfColor,CountOfDistinctColor
504,256,9

In [3]:
USE AdventureWorks2012

SELECT Count(*) as CountOfRows,
    count(color) as CountOfColor, 
    count(DISTINCT Color) as CountOFDistinctColor
from Production.Product

CountOfRows,CountOfColor,CountOFDistinctColor
504,256,9