## The Group by clause

GROUP BY clause to group data so the aggregate function can apply to a group of value instead of entire results set.

```(sql)
SELECT <aggregate function> (<col1>), <col2> from <table> Group by <col2>

In [3]:
USE AdventureWorks2012

SELECT TOP(10) CustomerID,SUM(TotalDue) AS TotalPerCustomer
FROM Sales.SalesOrderHeader
GROUP BY CustomerID;

CustomerID,TotalPerCustomer
11000,9115.1341
11001,7054.1875
11002,8966.0143
11003,8993.9155
11004,9056.5911
11005,8974.0698
11006,8971.5283
11007,9073.1551
11008,8957.4726
11009,8940.9197

In [4]:
USE AdventureWorks2012

SELECT TOP(10)
    TerritoryID,
    AVG(TotalDue) as AveragePerTerritory
from sales.SalesOrderHeader
GROUP BY TerritoryID

TerritoryID,AveragePerTerritory
9,1726.4907
3,23151.4266
6,4523.956
7,3038.8283
1,3931.576
10,2663.5752
4,4362.242
5,18280.0398
2,22216.5046
8,2089.142

In [10]:
USE AdventureWorks2012

SELECT TOP(10)
    COUNT(*) as CountOfOrders,
    YEAR(OrderDate) as OrderYear
FROM sales.SalesOrderHeader
GROUP by OrderDate

CountOfOrders,OrderYear
8,2011
4,2011
5,2012
6,2012
12,2013
84,2014
5,2011
7,2011
12,2012
3,2012

In [6]:
USE AdventureWorks2012

SELECT
    COUNT(*) as CountOfOrders,
    YEAR(OrderDate) as OrderYear
FROM sales.SalesOrderHeader
GROUP by YEAR(OrderDate)

CountOfOrders,OrderYear
14182,2013
11761,2014
1607,2011
3915,2012

In [7]:
USE AdventureWorks2012

SELECT COUNT(*) as CountOfProduct, ProductLine
FROM Production.Product
GROUP BY ProductLine

CountOfProduct,ProductLine
226,NULL
91,M
100,R
35,S
52,T

In [9]:
use AdventureWorks2012

SELECT TOP(20)
    COUNT(*) as CountOfDetailLines, SalesOrderID
from sales.SalesOrderDetail
group by SalesOrderID
HAVING count(*) > 3;

CountOfDetailLines,SalesOrderID
12,43659
15,43661
22,43662
8,43664
10,43665
6,43666
4,43667
29,43668
4,43670
11,43671
11,43673
9,43675
5,43676
12,43677
19,43678
15,43680
21,43681
5,43682
13,43683
6,43684